@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,300;0,500;1,100;1,300;1,500&family=Tangerine&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #E6E4DD;
}

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 25px;
}

#intro-zip {
  animation: fill 1.8s infinite;
  animation-fill-mode: forwards;
  height: 0px;
}

@keyframes fill {
  from {
    height: 0px;
  }

  to {
    height: 80px;
  }
}

.swiper .swiper-pagination {
  position: relative !important;
  margin-top: 25px;
}

.swiper .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #827252 !important;
}
